{% extends 'index.html' %}

{% block content %}
<body>
  <div class="dropdown-container">
      <h2>Vous êtes :</h2>
      <form action="{% url 'process_type' %}" method="post">
        {% csrf_token %}
        <select class="dropdown" name="select">
            <option value="utilisateur">Utilisateur</option>
            <option value="organisateur">Organisateur</option>
            <option value="responsable">Responsable</option>
        </select>
        <button class="submit-button" type="submit">Suivant</button>
      </form>
  </div>

  <footer>
    <p> MOD système de base de données - Projets Alix Macgregor & Nicolas Pigneux</p>
  </footer>
{% endblock %}
