{% extends 'accueil.html' %}

{% block content %}
<section id="resultat_recherche">
  <h2>Les résultats de votre recherche :</h2>
  <h3>Les conférences :</h3>
  <table>
    <thead>
        <tr>
            <th>Intitulé</th>
            <th>Présentation</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Localisation</th>
            <th>Inscription</th>

        </tr>
    </thead>
    <tbody>
        {% for conf in confs %}
            <tr>
                <td>{{ conf.conf_intitule }}</td>
                <td>{{ conf.text_introductif }}</td>
                <td>{{ conf.date_de_debut }}</td>
                <td>{{ conf.date_de_fin }}</td>
                <td>{{ conf.loc_ville }}, {{ conf.loc_pays }}</td>
                <td>
                  <a href="{% url 'inscription' conf_intitule=conf.conf_intitule id_util=utilisateur.id_util %}">
                    <h3>S'inscrire</h3>
                  </a>
                </td>
            </tr>
  {% endfor %}
  </tbody>
  </table>
  <h3>Les workshops :</h3>
  <table>
    <thead>
      <tr>
          <th>Initulé</th>
          <th>Présentation</th>
          <th>Date de début</th>
          <th>Date de fin</th>
          <th>Localisation</th>
          <th>Inscription</th>
      </tr>
  </thead>
  <tbody>
    {% for workshop in workshops %}
        <tr>
            <td>{{ workshop.wk_intitule }}</td>
            <td>{{ workshop.text_introductif }}</td>
            <td>{{ workshop.date_de_debut }}</td>
            <td>{{ workshop.date_de_fin }}</td>
            <td>{{ workshop.loc_ville }}, {{ conf.loc_pays }}</td>
            <td>
              <a href="{% url 'inscription' conf_intitule=workshop.wk_intitule id_util=utilisateur.id_util %}">
                <h3>S'inscrire</h3>
              </a>
            </td>
        </tr>
{% endfor %}

</section>
{% endblock %}
