{% extends 'accueil.html' %}

{% block content %}
<section id="nouvelle conference">
  <h2>Ajouter une conférence</h2>
  <form action="{% url 'nouvelle_conf' orga_nom=orga_nom %}" method="post">
    {% csrf_token %}

    <h3>Description :</h3>
    <label for="intitule">L'intitulé de votre conférence :</label>
    <input type="text" id="conf_intitule" name="conf_intitule" required>

    <label for="Description">La description de votre conférence :</label>
    <input type="text" id="text_introductif" name="text_introductif" required>

    <label for="Description">La série associée :</label>
    <input type="text" id="serie" name="serie" required>

    <label for="Description">L'éditeur acte :</label>
    <input type="text" id="editeur_acte" name="editeur_acte" required>

    <h3>Dates :</h3>
    <label for="date_de_debut">Date de début :</label>
    <input type="date" id="date_de_debut" name="date_de_debut" required>

    <label for="date_de_fin">Date de fin :</label>
    <input type="date" id="date_de_fin" name="date_de_fin" required>

    <h3>Localisation :</h3>
    <label for="Localisation">Ville :</label>
    <input type="text" id="loc_ville" name="loc_ville" required>

    <label for="Localisation">Pays :</label>
    <input type="text" id="loc_pays" name="loc_pays" required>

    <button type="submit">Se connecter</button>
  </form>
  </section>
{% endblock %}
